* {
    box-sizing:border-box;
  }
.calender-header {
    background-color: #d88e8e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(201, 53, 53, 0.1);
    gap: 30px;
    border: 2px solid black;
    padding: 10px 20px; 
}

.month-year {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.main-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px; 
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto; 
}

.weekdays, .container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    margin: 0 auto;
    width: 100%;
}

.week {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    background-color: #d88e8e;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 150px;
    background-color: white;
    border: 1.5px dotted rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #d88e8e;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    margin: 0;
}

.box.hovered {
    background-color: #d88e8e;
    color: white; 
    box-shadow: 0px 4px 8px black;
}

.message {
    margin-top: 5px;
    font-size: 12px;
    color: #555;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}